/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/


/* =Theme customization starts here
------------------------------------------------------- */
/*@import url("../Divi/style.css");*/

/* AGREGADO PROYECTO_BP */

@font-face{
  font-family:"Gotham Rounded Medium Italic";src:url("http://observatorio.minedu.gob.pe/wp-content/uploads/et-fonts/Gotham-Rounded-Medium-Italic.otf") format("opentype")
}
@font-face{
  font-family:"Calibri";src:url("http://observatorio.minedu.gob.pe/wp-content/uploads/et-fonts/calibri.ttf") format("truetype")
}
@font-face{
  font-family:"Gotham Rounded Medium";src:url("http://observatorio.minedu.gob.pe/wp-content/uploads/et-fonts/Gotham-Rounded-Medium.otf") format("opentype")
}
@font-face{font-family:"Gotham Rounded Light";src:url("http://observatorio.minedu.gob.pe/wp-content/uploads/et-fonts/Gotham-Rounded-Light.otf") format("opentype")
}
@font-face{font-family:"Calibri Bold";src:url("http://observatorio.minedu.gob.pe/wp-content/uploads/et-fonts/calibrib.ttf") format("truetype")}

/* estilos de formularios*/
body, input, textarea, select {
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
}



a {
    color: #ff668e;
}
.et_header_style_centered .mobile_nav .select_page, .et_header_style_split .mobile_nav .select_page, .et_nav_text_color_light #top-menu>li>a, .et_nav_text_color_dark #top-menu>li>a, #top-menu a, .et_mobile_menu li a, .et_nav_text_color_light .et_mobile_menu li a, .et_nav_text_color_dark .et_mobile_menu li a, #et_search_icon:before, .et_search_form_container input, span.et_close_search_field:after, #et-top-navigation .et-cart-info {
    color: #8d7aa8!important;
}
#top-header, #top-header a {
    color: #bd99e5!important;
}
#et-secondary-nav li{
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 15px!important;
}
#et-info, #et-secondary-menu>ul>li a {
    display: inherit!important;
    /* padding-bottom: .75em; */
}
#et-secondary-nav li ul {
    background-color: #caadea!important;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 15px!important;
    font-weight: normal!important;
    padding:inherit!important;
}
#et-secondary-nav li>ul {
  width: 123px!important;;
}

#et-secondary-nav li ul li {
    display: block;
    height: 24px;
    /*
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 17px;
    */
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 13px;
    color:#ffffff;
}
#et-secondary-nav li ul li:hover{
  background-color: #bd99e5!important;
}

#sidebar .et_pb_widget{
  float:inherit;

}
#sidebar{
  margin-top: 85px;
}
#top-header{
  background: #ffffff!important;
}
.breadcrumbs span a{
  color: #a6a6a6!important;
}
.breadcrumbs {
  color: #a6a6a6!important;
}

.breadcrumbs span:last-child a{
  color: #ff668e!important;
}


#csbwfs-hide{
  display: none;
}


.popular-posts{
  margin-right: 5.5%;
}
.widgettitle {
    color: #ffffff!important;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #7eddcf;
    border-left-color: #f7da9b;
    padding-top: 6px!important;
    padding-right: 10px!important;
    padding-bottom: 6px!important;
    padding-left: 10px!important;
    margin-top: 34px!important;
    margin-bottom: 15px!important;
    margin-left: 0px!important;
    width: 270px!important;
}

.et_pb_widget ul li {
  margin-bottom: .5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /*border-bottom-color: #eee;*/
  border-bottom-color: #dedef9 !important;
  margin-bottom: 15px;
  padding-bottom: 15px;
  /*margin-top: 50px*/
}

.et_pb_widget ul li:last-child {
  border: 0px!important;
}

.et_right_sidebar #sidebar {
padding-left: 0px;
}
/*
#wpp-2{
  border-style: solid;
  border-left-width: 2px;
  border-left-color: #f7da9b;
}
*/
#main-content .container {
    padding-top: 0px !important;
}
#main-content .container:before {
  display: none;
}
.wpp-list{
  /*margin-left: 16px;*/
  line-height: 19px;
  width: 270px !important;
}
.wpp-thumbnail {
margin-right: 10px;

}

.wpp-post-title{
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  line-height: normal!important;
}
.wpp-post-title:hover{
  text-decoration: underline!important;
  color: #666!important;
}

.recent-posts-widget-with-thumbnails .widgettitle {
 background-color: #75cfef!important;
}

.wpp-excerpt{
  float: left;
}

.wpp-date{
  float: left;
  margin-top: 3px;
  margin-bottom: 15px;
}

#recent-posts-3{
  /*
  border-style: solid;
  border-left-width: 2px;
  border-left-color: #f7da9b;
  border-top-color: #dedef9;
  font-size: 16px;
*/
}

#recent-posts-3 ul > li > a{
  margin-left: 15px;
  float: left;
  line-height: 17px;
}

#recent-posts-3 ul > li > span{
  margin-left: 15px;
  margin-bottom: 10px;
}

#recent-posts-3:before{
  border-top-color: #dedef9;
    border-top-style: dotted;
    border-top-width: 2px;
    width: auto;
    top: 0px;
    right: 0px;
    left: 0px;
}


.post-date{
  float: left;
  font-size: 14px;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  font-weight: bold;
  color: #575756;
}

#categories-3{
  /*
  border-style: solid;
  border-left-width: 2px;
  border-left-color: #f7da9b;
  */
}

#recent-posts-4 ul {
    width: 270px !important;
    /*margin-top: -20px!important;;*/
}
#recent-posts-4 .widgettitle{
  margin-top: 25px !important;
}
ul .post-date {
  float: inherit !important;
}

.cat-item{
  margin-left: 15px;
}

.post-meta >a{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff!important;
  background-color: #a58eff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.published{
  color: #757576;
  font-size: 14px;
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family:'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
}

.et_pb_text_1{
	color: #aaaaaa !important;
}
/*************************************/

/*
#main-content{
background-blend-mode:multiply;background-image:url(http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/2019/10/observatorio-buenas-practicas-fondo-login-duotono.jpg)!important}
}
*/

/* pagina reestrablecer contraseña*/


/* General CSS */
/* Estilos del modulo iniciar session */

.entry-title{
  /*display: none;*/
}

.et_post_meta_wrapper .entry-title{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 40px;
    color: #000000!important;
    line-height: 45px;
}

.breadcrumbs{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  /*text-transform: uppercase;*/
  font-size: 13px!important;
  /*padding-bottom:20px;*/
  padding-bottom: 20px;
  padding-top: 30px;

  }

.single_et_bp{
  border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #dddddd;
    border-bottom-color: #dddddd;
    border-style: solid;

    padding-top: 5px;
    /*
    padding-bottom: 5px;
    */
    margin-bottom: 10px;

}

.single_et_bp_fecha{
  float: left;
  color: #a5a5a5!important;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
    font-size: 14px;
    margin-top: 5px;
    padding-right: 10px;
}
.single_et_bp_share{
  float: left;
  margin-top: -4px;
  margin-left: 20px;
  margin-right:20px;
}
.csbwfs-shortcode{
    margin-right: 15px;

}

.mec-links-details{
  margin-top: -10px;
}

.mec-search-form .mec-totalcal-box{
  padding-left: 15px!important;
  padding-right: 15px!important;
}

.mec-event-carousel-content {
    border: 1px solid #fff;
    padding: 34px 34px 11px 37px!important;
    background: #fff;
}
.mec-event-carousel-title .mec-color-hover{

  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  line-height: 22px !important;
  max-height: 48px !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical !important;
  margin-bottom: 8px !important;

}

  .author.vcard{
    /*display: none;*/
  }

.bp_content{
  max-width: 610px;
  background-image: linear-gradient(180deg,rgba(255,255,255,0.86) 0%,rgba(221,221,221,0.91) 100%);
  background-color: rgba(0,0,0,0);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.bp_content_1{
  background-color: rgba(0,0,0,0);
  padding-top: 3vw;
  padding-right: 3vw;
  padding-bottom: 52px;
  padding-left: 3vw;
  margin-top: 0px!important;
  margin-right: 0px!important;
  margin-bottom: 0px!important;
  margin-left: 0px!important;
}
/*
.bt_titulo h1{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 30px;
  color: #7580c4!important;
  margin-top: -20px

}*/
.bt_titulo h1{
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    color: #7580c4!important;
}

.bt_linea_login_bp{
  border-top-color: #eab2dd;
  border-top-width: 4px;
  border-top-style: solid;
  width: 16%;
  margin-top: -10px;
  padding-bottom: 30px;
}
.bt_linea_add_bp{
  border-bottom-color: #ff89ca;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  width: 9%;
  margin-left: 382px;
  padding-top: 10px;
}

.bt_linea_reset_bp{
  border-bottom-color: #eab2dd;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  width: 16%;
  padding-top: 5px;
}

.swpm-username-label{
  display: none;
}
.swpm-password-label{
  display: none;
}
.bp_frm_login{
  margin-bottom: 3%;
  background-position: center;
  background-size: cover;
}
.swpm-text-field{
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  border-color: #d0e8d9;
  font-size: 18px;
  background-color: #ffffff;
}
.bp_content_1 .bp_frm_login input{
  width: 100%;
  padding: 16px;
  border-width: 0;
  color: #000;
}
/*
body .bp_content_1 .bp_button{
  color: #7a5500!important;
  border-width: 0px!important;
  border-color: rgba(0,0,0,0);
  border-radius: 25px;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #f9af0e;
  padding: 10px 16px;
}
*/
body .bp_content_1 .bp_button{
  color: #603e00!important;
  border-width: 0px!important;
  border-color: #ffffff;
  border-radius: 25px;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #ffc30f;
  padding: .3em 1em;
}

body .bp_content_registration .bp_button {
  color: #603e00!important;
  border-width: 0px!important;
  border-color: #ffffff;
  border-radius: 25px;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #ffc30f;
  padding: .3em 1em;
}


.bp_button{
  position: relative;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em!important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  float: right;
}

body .bp_content_1  .bp_button:hover {
    background-image: initial!important;
    background-color: #fcd00f!important;

}
.bp_button:hover{

}
.bp_button:hover, .bp_content_1 .bp_button:hover {

    border: 2px solid transparent;
}


.bp_divider {
    border-top-color: rgba(43,52,155,0.26);
    border-top-style: dotted;
    border-top-width: 2px;
    width: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.swpm-login-submit{
  display: table;
  width: 100%;
  margin-top: 40px;
}
.swpm-forgot-pass-link {
  text-align: center;

}
.swpm-login-form-pw-reset-link{
  color: #ff668e!important;
  font-size: 16px;
}
#post-51617{
  margin-top: -110px;
}
label{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px!important;
  color: #aaaaaa!important;
}
body, input, textarea, select {
    font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 18px!important;
    color: #797979!important;
}


.swpm-join-us-link{
  color: #ff5683!important;
  text-align: center;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.bp_msg{
  font-family: 'Calibri bold',Helvetica,Arial,Lucida,sans-serif !important;
  color: #ff4c00!important;
  padding-top: 3px!important;

  padding-bottom: 3px!important;
  margin-top: 10px!important;
  margin-bottom: 15px!important;
      font-size: 16px;

}

.swpm-login-widget-action-msg {
    font-weight:inherit;
}


/* Estilos del modal*/
#popmake-51846{
  min-width: 0%;
  max-width: 100%;
  top: 132px;
  left: 960.594px;
  opacity: 5!important;
  display: block;
  background-image: linear-gradient(180deg,rgba(255,255,255,0.86) 0%,rgba(221,221,221,0.91) 100%)!important;
  border-radius: 15px 15px 15px 15px;
  border: inherit!important;
}
#pum_popup_title_51846{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  color: #7580c4!important;
  font-size: 30px;
  line-height: 27px;
  padding-top: 10px!important;
  padding-bottom: 7px!important;
  margin-left: 24px;
}
.linea_popups_bp{
  border-top-width: 4px;;
  border-top-style: solid;
  border-top-color: #eab2dd;
  width: 10%;
  margin-left: 25px;
  margin-top: 17px;
}

.rm_form_field{
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  border-color: #d0e8d9;
  padding: 16px !important;
}
.pum-content{
  margin-top: -15px;
}

#rm_form_message_51872{
  font-family: 'Gotham Rounded light',Helvetica,Arial,Lucida,sans-serif!important;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    padding-right: 15px;
    line-height: 25px;
}



/* Estilos del modulo Restrablecer Contraseña */
.bp_content_rc{
  margin-bottom: 62px !important;
  padding-bottom: 40px !important;
}
.swpm-login-form-pw-reset-link:hover{
  color: #ff630f!important;
}
.swpm-login-form-register-link:hover{
  color: #ff870f!important;
}
.swpm_error{
  text-align: center;
}
/* Estilos del modulo Registrar Usuario */


/* Estilos Seccion Noticias*/
/*
.et_pb_row_9{
 display: none!important;
}

*/

/* Estilo por defecto */
.yasr-total-average-container{
  display: none!important;
}
.yasr-small-block-bold{
  display: none!important;
}
.yasr-total-average-text{
  display: none!important;
}


.bp_content_bbpp{
width: 80%;
position: relative;
/*max-width: 1080px;*/

}

.bp_select_bbpp[data-type=select] {
    position: relative;
}
.bp_select_bbpp[data-type=select]:after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    margin-top: 3px;
    border: 6px solid;
    border-color: #666 transparent transparent transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}
.bp_select_bbpp{
  position: relative;
  float: left;
    width: 50%;
    margin-bottom: 3%;
    padding: 0 0 0 3%;
    background-position: center;
    background-size: cover;
  Max-width: 40%;
  border-width: 0;



}
.bp_select_bbpp_s{
  margin-left: -30px;
}
.bp_select_bbpp_0{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px 16px 10px!important;
    border: 0;
    border-radius: 0;
    color: #575756;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: solid;
    border-color: #ffc30f;
    border-bottom-width: 2px;
    box-shadow: 0px 12px 18px -10px rgba(0,0,0,0.3)!important;
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 18px!important;


}
.bp_estilo_conent{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  color: #575756!important;
}
/*
.bp_button_bbpp{
  color: #603e00!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: #ffc30f;
    padding-top: 6px!important;
    padding-right: 27px!important;
    padding-bottom: 6px!important;
    padding-left: 27px!important;
    margin-top: 15px!important;
    margin-bottom: 0px!important;
    margin-right: -20px;
}
*/
.bp_button_bbpp{
  color: #603e00!important;
  border-width: 0px!important;
  border-color: #ffffff;
  border-radius: 25px;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #ffc30f;
  padding: .3em 1em;
  text-transform: uppercase;
  margin-top: 10px!important;
}

.bp_button_bbpp:hover{
    background-image: initial!important;
    background-color: #ffdb0f!important;
}
.bp_response_bbpp{
  margin-top: 100px;
  color:red;
  font-size: 28px;
}

.bp_resultado_bbpp{
  padding-top: -5px!important;
  padding-bottom: 20px!important;
  margin-top: 0px!important;

  padding-bottom: 0px;
  /*border: 1px solid #afcde3;*/
}
.bp_resultado_bbpp_imagen{
  width: 25.9%;
  margin-right: 3%;
  z-index: 9;
    position: relative;
    float: left;
    line-height: 0;
}
.bp_resultado_bbpp_titulo{
  margin-bottom: 3.735%;
  color: #000000!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 21px;
    margin-bottom: 5px!important;
    text-transform: lowercase;
}
.bp_resultado_bbpp_titulo:first-letter {text-transform:uppercase;}

.bp_resultado_bbpp_terms{
  margin-bottom: 3%;
  position: relative;
}
.bp_terms_bbpp_0{
  margin-left: 0px;
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif;
    color: #ffffff!important;
    background-color: #b8d677;
    display: inline-block;
    padding: .25em .4em;
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-style: solid;
    border-color: #333;
    text-transform:uppercase;
    float: left;
    margin-right: 15px;
}
.bp_terms_bbpp_1{
  margin-left: 0px;
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif;
  color:#ffffff !important;
  background-color:#bd93ed;
  display: inline-block;
padding: .25em .4em;
padding-bottom: 0.25em !important;
font-size: 65%;
font-weight: 400;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border-style: solid;
border-color:#333;
text-transform:uppercase;
  float: left;
  margin-right: 15px;
}

.bp_resultado_bbpp_institucion{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
  line-height: 33px;
  color:#575756;
  margin-top: -5px;
  margin-bottom: 5px;
}

.bp_resultado_bbpp_contenido{
    line-height: 22px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    /*margin-top: -25px!important;*/
    margin-bottom: 0px!important;
    text-align: left;
    font-size: 18px;
    margin-top: -9px;
}


.bp_resultado_bbpp_category {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 40px;
  color: #575756 !important;
}

.bp_category_excerpt{

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 150px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
}

.bp_category{
    padding-bottom: 25px;
}

.bp_resultado_bbpp_contenido a:hover{
  text-decoration: underline;
}

.bp_linea_wp-shpw-post{
  border-top-color:#dedef9 !important;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  width: 116%;
  bottom: -15px;
  left: -15px;
  position: absolute;
}
#content-area .wpsp-load-more{
  margin-top: -40px!important;
  padding-bottom: 40px!important;
  font-family: 'Gotham Rounded Light',Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
}


#wpsp-52102{
  margin-bottom: 60px;
}



/*
.bp_resultado_bbpp_contenido2 {
    line-height: 22px;
    padding-top: 20px!important;
    padding-bottom: 0px!important;

    text-align: left;
    font-size: 18px;
    margin-top: -9px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    max-height: 150px;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      margin-bottom: 40px;
}
*/
.bp_resultado_bbpp_contenido2 a p strong{

}

.bp_resultado_bbpp_terms{
  color:#000!important;
  font-size: 18px!important;
}
.bp_liena_bbpp{
  border-bottom: 2px dotted #d2c4ed;
  width: 100%;
  padding-bottom: 20px!important;
  padding-top: 18px;

}

.rpwwt-widget{
  width: 270px;
}

.search_imagen_bp{
  width: 320px;
  height: 193px;
}
.search_titulo_bp{
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 21px;
    /*padding-bottom: 0px;*/
}
.search_terms_bp{
padding-bottom: 30px;
}

.search_linea_bp{

}

.bp_select_search{
  width: 31%!important;
}

.bp_button_search{
  float: right !important;
  margin-right: -100px !important;
  margin-top: 4px !important;
}
/* Listrar noticias */

.wp-show-posts-entry-title{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 21px;
    color: #000000!important;



}

.published{
  font-family: 'Calibri Light',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 15px!important;
    color: #939392!important;
    font-weight: 700;
}
.wp-show-posts-terms{
font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
color: #ffffff!important;
background-color: #a58eff!important;
padding: .25em .4em;
font-size: 11.5px!important;
}

.wp-show-posts-meta a{
  color: #ffffff!important;
}
.wp-show-posts-entry-summary{
  margin-top: -10px;
  color: #575756!important;

}
.wpsp-load-more{
  float: right;
}

.post-52235 .entry-title{
  margin-bottom: 2.75%;
  margin-top: 90px!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 40px;
  color: #7f6ba5!important;
}

.post-52235 .entry-content .breadcrumbs{
    margin-top: -190px;
    margin-bottom: 100px;
    padding-top: 28px;
}

.post-52235 .linea_wp_show_posts{
  border-top-color: #eab2dd !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  width: 10%;
  max-width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-top: -25px;
  margin-bottom: 60px
}

.linea_wp_show_post_2{
  border-top-color: red !important;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  width: 20%;
  bottom: 25px;
  left: 0px;

position: absolute;

}
.linea_wp_show_post_eventos{
  border-top-color: #eab2dd !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  width: 12%;max-width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-top: -15px;
  padding-bottom: 40px;
}
.mec-single-event .breadcrumbs .itemListElement .post-mec-events-archive span{
  display: none;
}

.col-md-4 .et_pb_widget{
  display: none;
}
.wp-show-posts-entry-title{
  width: 90%!important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 75px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
}
.wp-show-posts-entry-title a:hover{
  text-decoration: underline;
}

.wp-show-posts-entry-title a{
  font-family: 'Gotham Rounded Light',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px!important;
    color: #000000!important;

    /*
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 40px;
    max-height: 80px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin-bottom: 8px;
      */
}
.wp-show-posts-inner{
  position: relative;
}

.wp-show-posts-entry-date{
  padding-top: 30px;
  bottom: 0px;
  left: 0px;
  position: absolute;

}
/*
.wp-show-posts-entry-date{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dedef9;
  width: 100%;
  padding-bottom: 20px;
}
*/
.wp-show-posts-entry-header{
  margin-bottom: 30px!important;
}
.wp-show-posts-image {
    margin-bottom: 0.5em!important;
    margin-top: 0.5em!important;
}
.wp-show-posts-inner{
  border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dedef9;
}
.wp-show-posts-inner:after{
  width: 100%;
  border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #dedef9;
}
/**************************************/
/* estilos plugin calendario*/
.mec-wrap .mec-single-title {
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  color:#000000 !important;
  /*line-height: 45px !important;*/
}

.post-53958 .entry-title {
      margin-bottom: 10px;
      margin-top: 70px !important;
      font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
      font-size: 40px;
      color:
      #7f6ba5 !important;
  }

.post-53958 .entry-content .breadcrumbs  {
  margin-top: -140px;
  padding-bottom: 85px;
}
.mec-single-event .col-md-8 .breadcrumbs{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  margin-top: -20px;

}
.mec-single-event .mec-event-content {
    padding: 0px 0 0px!important;
    margin-bottom: 10px;

}
.mec-wrap .mec-single-title {
    font-weight: inherit !important;
    margin-bottom: inherit !important;
}


/*******************************************/
/* estilos de busqueda*/
#ajaxsearchlite1 .probox, div.asl_w .probox {
  padding: inherit !important;

}
#ajaxsearchlite1{
  float: right;
    width: 20%;
    margin-left: 20px;
}

/* estilos para el plugin facetwp*/
.bp_estilo_content_search{
  /*
  clear:both;
  float:left;
  */
}
.bp_column1{

  width: 100%;
  display: block;
  padding-bottom: 15px!important;
  padding-top: 20px!important;
}
.bp_estilo_imagen_search{

  float:left !important;
  padding-right: 10px;

}

.bp_estilo_titulo_search{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 21px;
  color: #000000 !important;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  max-width: 45%!important;
  width: 45%!important;
  position: absolute;
  margin-left: 312px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 45px;
}

.bp_estilo_contenido_search{
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  color: #575756!important;
  line-height: 1.4em;
  max-width: 42%;
  width: 42%;
  position: absolute;
  margin-left: 312px;
  padding-top: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 180px;
}


.fwpl-result{
  border-bottom-color:#dedef9 !important;
  border-bottom-style: dotted !important;
  border-bottom-width: 2px !important;
}
.fwpl-result:last-child{
  border-bottom-width: 0px !important;
}

#text{
  width: 100px !important;
}
.facetwp-template{
  margin-top: 30px !important;
}

.facetwp-search{
  width: 90% !important;
  padding: 10px!important;
}
.facetwp-facet {
  margin-bottom: 0px!important;
}
.facetwp-dropdown{
  width: 100%;

  box-sizing: border-box;
  padding: 16px 20px 16px 10px;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-right-color: currentcolor;
  border-right-style: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: currentcolor;
  border-left-style: none;
  border-radius: 0;
  color:#575756;
  background:#fff;
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
  appearance: none;
  border-style: solid;
  border-color:#ffc30f;
  border-bottom-width: 2px;
  box-shadow: 0px 12px 18px -10px
  rgba(0,0,0,0.3) !important;
}
/*
.facetwp-facet-tipo_de_practica[data-type="dropdown"]::after {
  position: absolute;
  top: 17%;
  left: 18%;
  width: 0;
  height: 0;
  margin-top: 3px;
  border: 6px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color:#666 transparent transparent transparent;
  content: "";
  transform: translateY(-50%);
  pointer-events: none;
}
*/
.post-54925 h1{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 40px !important;
    color: #7f6ba5!important;
    padding-top:30px;
}
.linea_wp_show_post_busqueda{
    border-top-color: #eab2dd !important;
    border-top-width: 6px !important;
    border-top-style: solid !important;
    width: 20%;
    max-width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.facetwp-facet-tipo_de_practica{
  width: 28%;
  float: left!important;


}


.facetwp-facet-nivel{
  width: 28%;
  float: left;
  margin-left: 24px;
  margin-top: -30px;
}

.facetwp-facet-categoria{
    width: 28%;
    margin-top: -60px!important;
    margin-left: 494px!important;
}
.facetwp-pager{
  float: right!important;
  font-family: 'Gotham Rounded Light',Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
}

/*
.bp_liena_bbpp:last-child {
  display:
}
*/
/* estilos de popup evidencias de la buena practica*/
#popmake-53929 .pum-content p img{
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;

}
#popmake-53929 .popmake-content p {
  font-size: 18px;
  color: #565657 !important;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  text-align: inherit!important;
}

/* estilos de contac form 7 */
.wpcf7-text, .wpcf7-textarea, .wpcf7-captchar {
font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
border: none !important;
width: 100% !important;
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 5px !important;
color: #4e4e4e !important;
padding: 14px !important;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.wpcf7-submit {
  color: #603e00!important;
float: right;
margin: 10px auto 0;
cursor: pointer;
font-size: 16px;
font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
font-weight: 500;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
/*padding: 6px 20px;*/
padding: .3em 1em !important;
line-height: inherit !important;
background: transparent;
border: 2px solid;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
transition: all 0.2s;
background-image: initial !important;
background-color:#f9af0e !important;
border-color: #f9af0e !important;
}
.wpcf7-submit:hover {
    background-image: initial !important;
    background-color: #fcd00f !important;
    padding: .3em 2em .3em .7em!important;
    border: 2px solid transparent!important;
    -moz-border-radius: 25px!important;
    -webkit-border-radius: 25px!important;
    border-radius: 25px!important;
}
.wpcf7-submit::after {
    margin-left: 0;
    margin-top: -4px!important;

}
.wpcf7-submit:hover::after {
    margin-left: 0;
    color: #ffffff;
    margin-top: -4px!important;
    opacity: 1;

}

div.wpcf7-mail-sent-ok {
  border: 2px solid #ff7bde !important;
  color: #ff7bde !important;
}

div.wpcf7-validation-errors  {
    border: 2px solid #ff0000 !important;
    color: #ff0000 !important;
}
/* estilos de pagina categoria noticias*/
.title_category_noticias{
  margin-bottom: 2.75%;
  margin-top: 0px !important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 40px;
  color: #7f6ba5 !important;
}
.linea_category_noticias{
  border-top-color: #eab2dd !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  width: 10%;
  max-width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-top: -30px;
  margin-bottom: 40px;
}

.linea_category_terminos{
  border-top-color: #eab2dd !important;
  border-top-width: 4px !important;
  border-top-style: solid !important;
  width: 8%;
  margin-top: -10px;
  padding-bottom: 40px;
}
/* estilos de pagina investigaciones*/
.post-49740 .entry-title {
    margin-bottom: 2.75%;
    margin-top: 90px !important;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 40px;
    color: #7f6ba5 !important;
}

.post-49740 .entry-content .breadcrumbs{
  margin-top: -190px;
  margin-bottom: 100px;
  padding-top: 28px;
  margin-top: -150px;
}

.post-49740 .linea_wp_show_post_investigaciones {
    border-top-color: #eab2dd !important;
    border-top-width: 6px !important;
    border-top-style: solid !important;
    width: 10%;
    max-width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-top: -30px;

}

#category-bp .wp-show-posts-inner{
  border-right-width: 0px !important;
  border-right-style: inherit !important;
  border-right-color: inherit!important;
  border-bottom-color: #eab2dd;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
#category-bp .wp-show-posts-inner .bp_linea_wp-shpw-post{
  display: none;
}
#category-bp .wp-show-posts-inner .linea_wp_show_post_2{
  display: none;
}
#category-bp .wp-show-posts-inner .wp-show-posts-entry-header .wp-show-posts-entry-title{
  max-height: 68px !important;
}

#category-bp .wp-show-posts-inner .wp-show-posts-entry-header .wp-show-posts-entry-title a{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 21px !important;
  color: #000000!important;
}

#category-bp .wp-show-posts-inner .wp-show-posts-entry-header .wp-show-posts-entry-meta{
  padding-top: 10px!important;
}

#category-bp .wp-show-posts-inner .wp-show-posts-entry-header .wp-show-posts-entry-meta
.wp-show-posts-posted-on a .wp-show-posts-entry-date {
  padding-top: 0px!important;
  bottom: 0px!important;
  left: 0px !important;
  position: inherit!important;

}
#category-bp .wp-show-posts-inner .wp-show-posts-entry-meta .wp-show-posts-terms{

  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif!important;
  color: #ffffff!important;
  background-color: #f2b100 !important;
  padding: .25em .4em!important;
  text-transform: uppercase!important;

}

#category-bp .wp-show-posts-inner .wp-show-posts-entry-summary p{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 18px !important;
  margin-top: -20px !important;
  padding-bottom: 10px !important;
}

#category-bp .wpsp-load-more {
  margin-top: -10px!important;
  margin-bottom: 40px !important;
  font-family: 'Gotham Rounded Light',Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
}
.title_2{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 40px;
  color: #7f6ba5!important;
}

.linea_2{
  border-top-color: #eab2dd !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  width: 10%;
  max-width: 100%;
  padding: 1% 0;
}

.category-slidebar-bp #sidebar{
  margin-top: -65px!important;
}

.categorie .et_pb_post a img {
  padding-bottom:20px !important;
}

.categorie .et_pb_post {
  border-bottom-color:#eab2dd!important;
  border-bottom-style: dotted!important;
  border-bottom-width: 2px!important;
  margin-bottom: 30px!important;
}
.categorie .et_pb_post .category-content-bp {
  margin-top: -10px!important;
  margin-bottom: 20px!important;
}

.categorie{
  margin-top: -30px;
}
.categorie .post-meta > a {
  background-color:#f2b100!important;
}


/* estilos del slider de equipo de docentes*/
.ntrk-slide {
    border: inherit !important;

}
.slick-dots{
  display: none !important;
}
.slick-track{
  padding-bottom: 15px;
}
.ntrk-text{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px;
  padding-bottom: 10px;
}
.ntrk-text_institucion{
  font-family: 'Calibri Bold',sans-serif;
  font-size: 16px;
  color:#83bf2f !important;
  text-align: center;
}

/* estilos de la lista de evidencias*/
.bp_listar_evidencias{
  /*border: 1px solid #ff7bde !important;*/
  position: relative;
/*  width: 84%;*/
  height: auto;
  margin: auto;
  float:  left;
  margin-top: 15px;
  padding: 10px;
  margin-left: 90px;
  text-align: center;
  border-radius: 20px;
  background: rgb(244, 242, 222);
  padding-right: 10px!important;

}
.bp_listar_imagenes{
  /*border: 1px solid #ffffff !important;*/
  width: 150px;
  height:150px;
  text-align: center;
  padding: 10px;
  float: left;
}

.bp_titulo_archivo{
  font-family: 'calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 12px!important;
  color:#000000!important;
  line-height: normal;
}

/* estilos del resumen de valoracion*/
.bp_titulo_valoracion {
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 13px!important;
  letter-spacing: 1px!important;

}


/* estilos del formulario de contacto */
.field {
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  border: none !important;
  width: 100% !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 5px !important;
  color: #4e4e4e !important;
  padding: 14px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.top_aligned .fields label {
  color: #ffffff !important;
}

.cpfieldcaptcha{
  color: #ffffff !important;
}
.cpefb_error{
  color: red !important;
}
.cpp_form{
  color: #ff7bde !important;
}
/*
.pbSubmit {
    float: right !important;
    margin: 10px auto 0;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
    font-weight: 500;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: .3em 1em !important;
    line-height: inherit !important;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-image: initial !important;
    background-color:#f9af0e !important;
    border-color: #f9af0e !important;
}
*/

.pbSubmit {
  float: right !important;
  color: #603e00!important;
  border-width: 0px!important;
  border-color: #ffffff!important;
  border-radius: 25px!important;
  letter-spacing: 1px!important;
  font-size: 15px!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #ffc30f!important;
  padding: .3em 1em!important;
  text-transform: uppercase!important;
}

.pbSubmit:hover {
    background-image: initial !important;
    background-color: #fcd00f !important;
    padding: .3em 1em!important;
    border: 2px solid transparent!important;
    -moz-border-radius: 25px!important;
    -webkit-border-radius: 25px!important;
    border-radius: 25px!important;
}


.pbSubmit::after {
    margin-left: 0;
    margin-top: -4px!important;

}

.pbSubmit:hover::after {
    margin-left: 0;
    color: #ffffff;
    margin-top: -4px!important;
    opacity: 1;
}

/* estilos de la pagina red */

#item-header-content .group-status{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 16px!important;
  color: #b0b0ad!important;
  font-weight: normal!important;
}
#item-header-content .group-status strong{
  font-weight: normal!important ;
}

#item-header-content .activity{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 16px!important;
  color: #b0b0ad!important;
}
#object-nav{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 16px !important;
  color: #a154b2;
  /*padding-top: 120px;*/
}
.bp_group .entry-content #buddypress .bp-wrap{
  padding-top: 120px!important;
}

#object-nav ul li a{
    color:#a154b2;
}
#object-nav ul li{
    margin-right: 10px!important;
}
.submit .avatar{
  border-radius: 50%!important;
}



.buddypress-wrap .main-navs:not(.dir-navs) li.current a, .buddypress-wrap .main-navs:not(.dir-navs) li.selected a {
  background: #f55d93 !important;
  color:#fff !important;
  padding: 8px !important;
  font-size: 14px !important;
}
.buddypress-wrap .bp-navs li:not(.current) a:hover, .buddypress-wrap .bp-navs li:not(.selected) a:focus, .buddypress-wrap .bp-navs li:not(.selected) a:hover {
  background:inherit!important;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
    border-bottom: inherit!important;
    border-top: inherit!important;
    box-shadow: 0 2px 12px 0 #fafafa;
}


/* Estilos de Red */


.linea_noticias{
  border-top-color: #eab2dd !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  width: 10%;
  max-width: 100%;
}


#main-content {
  background: #ece7f4!important;
}

.bp_activity .entry-title{
  margin-bottom: 40px!important;
  margin-top: 40px!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 40px;
  color: #7f6ba5!important;
}

#bp_groups_widget-2{
  width: 270px !important;
  background: #ffffff!important;
  box-shadow: -2px 2px 10px #c5c0ce;
}


#bp_groups_widget-2 .widgettitle {
  margin-top: 0px!important;
  margin-bottom: 16px!important;
  background: #d7a9ec!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 17px!important;
  line-height: 18px!important;
  color: #ffffff!important;

}
#bp_groups_widget-2 .item-options{
  text-align: center;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 13px!important;
  line-height: 14px!important;
  color: #b0b0ad!important;
  padding:inherit!important;
  padding-bottom: 24px!important;
}

#bp_groups_widget-3{
  width: 270px !important;
  background: #ffffff!important;
  box-shadow: -2px 2px 10px #c5c0ce;
}


#bp_groups_widget-3 .widgettitle {
  margin-top: 0px!important;
  margin-bottom: 16px!important;
  background: #d7a9ec!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 17px!important;
  line-height: 18px!important;
  color: #ffffff!important;

}
#bp_groups_widget-3 .item-options{
  text-align: center;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 13px!important;
  line-height: 14px!important;
  color: #b0b0ad!important;
  padding:inherit!important;
  padding-bottom: 24px!important;
}


#groups-list .item .item-title{
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  line-height: 20px!important;
  color: #575756!important;
}

#groups-list .item .item-meta{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  line-height: 18px!important;
  color: #b0b0ad!important;
}
#groups-list{
  margin-left: 20px!important;;
  margin-right: 20px!important;;
  margin-top: 0px!important;;
  margin-bottom: 0px!important;;
}

.widget_bp_groups_widget ul li{
  border-bottom-style: dashed!important;
  border-bottom-width: 1px!important;
}

.widget_bp_groups_widget ul li:last-child {
    border: 0px!important;
    margin-bottom: 10px!important;
}
.et_pb_widget {
    float: left;
    max-width: inherit!important;
}

.buddypress.widget .item-options {
    margin: 0px !important;
}


#bp_core_whos_online_widget-2{
  width: 270px !important;
  background: #ffffff!important;
  box-shadow: -2px 2px 10px #c5c0ce;
}
#bp_core_whos_online_widget-2 .widgettitle {
  margin-top: 0px!important;
  margin-bottom: 16px!important;
  background: #acaee9!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 17px!important;
  line-height: 18px!important;
  color: #ffffff!important;

}

#bp_core_whos_online_widget-3{
  width: 270px !important;
  background: #ffffff!important;
  box-shadow: -2px 2px 10px #c5c0ce;
}
#bp_core_whos_online_widget-3 .widgettitle {
  margin-top: 0px!important;
  margin-bottom: 16px!important;
  background: #acaee9!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 17px!important;
  line-height: 18px!important;
  color: #ffffff!important;

}

#whats-new-avatar{
  display: none!important;
}
.activity-update-form #whats-new-content, .activity-update-form #whats-new-post-in-box, .activity-update-form #whats-new-submit {
    margin-left: 0px!important;
}
.activity-update-form {
    padding: 0px!important;
    border: inherit!important;
    box-shadow: inherit!important;
    margin: inherit!important;
}
.bpfb_form_container {
    padding:inherit!important;
    background-color: inherit!important;
}

.bp-suggestions{
  border-color: #fcba2d!important;
}
.activity-update-form #whats-new-textarea textarea{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  line-height: 22.4px!important;
  color: #797979!important;
  padding: 10px!important;
}
.bpfb_actions_container{
  float:left!important;
}
#activity-filter-select{
  display: none!important;
}

#rtmedia-action-update{
  display: none!important;
}

.activity-update-form #whats-new-content {
    padding: inherit!important;
}
.feed{
  display: none !important;
}

#aw-whats-new-submit{

}
.activity-update-form #whats-new-post-in-box {
    margin: inherit!important;
    margin-left: 10px !important;
    margin-top: 2px!important;
}

#whats-new-submit{
  float: left!important;
}
.bp-nouveau .activity-update-form #aw-whats-new-submit {
    margin-top: inherit!important;
}
.activity-update-form #whats-new-submit input {
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 13px !important;
  /*line-height: 18px;*/
  background:#fcba2d!important;
  color: #ffffff!important;
}
.buddypress .buddypress-wrap input[type=submit]:hover {
    background: inherit!important;
    border-color: inherit!important;
    color: inherit!important;
    outline: 0;
    text-decoration: none;
    border-color: #fcba2d!important;
}
.buddypress .buddypress-wrap input[type=reset]:hover {
    background: inherit!important;
    border-color: inherit!important;
    color: inherit!important;
    outline: 0;
    text-decoration: none;
    border-color: #fcba2d!important;

}
#aw-whats-new-submit{
  padding: 0px 0px !important;
}
#aw-whats-new-reset{
  padding: 0px 0px !important;
}

#whats-new-options{
  float: right;
}
.bpfb_actions_container{
  float: right;
}
.bpfb_actions_container, .bpfb_preview_container {
    margin-bottom: 10px!important;
}
#whats-new-textarea {
  margin-bottom: inherit!important;
}
#activity-visibility{
  float:left!important;
  margin-top: 2px!important;
}

.component-navigation{
  padding-left: 0px!important;
}

.buddypress-wrap .bp-navs li.current a, .buddypress-wrap .bp-navs li.current a:focus, .buddypress-wrap .bp-navs li.current a:hover, .buddypress-wrap .bp-navs li.selected a, .buddypress-wrap .bp-navs li.selected a:focus, .buddypress-wrap .bp-navs li.selected a:hover {
    background: #f55d93 !important;;
    color: #ffffff!important;
}

.activity-type-navs ul li a {
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
    font-size: 14px !important;
    color: #a154b2!important;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
    border-bottom: inherit!important;
    border-top: inherit!important;
    box-shadow: inherit !important;
    border-bottom: 2px dotted !important;
    color: #ecb4dd!important;
}

.buddypress-wrap form.bp-dir-search-form{
  border: 1px solid #cbc5fd;
  background: #ffffff;
}

.buddypress-wrap .bp-search form:focus{
  border: 1px solid #cbc5fd!important;
}
.buddypress-wrap .bp-search form:hover{
  border: 1px solid #cbc5fd!important;
}

.nouveau-search-submit{
  color:  #cbc5fd!important;
}

.buddypress-wrap .select-wrap {
    border: 1px solid #cbc5fd!important;
    background: #ffffff;
}
.buddypress-wrap .select-wrap span.select-arrow:before {
    color: #cbc5fd!important;

}

.bp-navs ul li .count {
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 13.5px !important;
  background: #ffffff!important;
  border: 1px solid #f55d93!important;
  color: #f55d93!important;
}
#item-body {
    background: inherit!important;
}


#left-area ul, .comment-content ul, .entry-content ul, body.et-pb-preview #main-content .container ul {
    padding: 0 0 0px 0em!important;
    line-height: 26px;
    list-style-type: disc;
}


.activity-header p a{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  line-height: 18px!important;
  color: #f55d93!important;
}
.activity-time-since{
  color: #b0b0ad!important;
}

.activity-list.bp-list .activity-item {
    border: inherit!important;
    box-shadow: inherit!important;
}
.comment-count{
  color: #8b82e1!important;
  font-weight: bold;;
}
.activity-list .activity-item .activity-content .activity-header, .activity-list .activity-item .activity-content .comment-header {
  margin-bottom: 0px!important;
}
.activity-list .activity-item .activity-content .activity-inner, .activity-list .activity-item .activity-content blockquote {
    margin: 0px!important;
    padding: 0px!important;
}
.activity-inner{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  line-height: 22.4px!important;
  color: #575756!important;
  padding-bottom: 10px!important;
  border-bottom: 1px dashed #dad5d5!important;

}

.activity-comments{
  background: #f3f2fc!important;
  margin-left: 130px!important;
  padding-left: 10px!important;
}

.activity-list .activity-item .activity-meta.action .button {
    color: #8b82e1!important;

}
.activity-meta{
  padding-left: 120px!important;
  font-size: 16px;
}

.comment-item .activity-meta{
  margin-left: -120px!important;
}

.activity-list .activity-item .activity-meta.action {
    background: inherit!important;
}

.bp-list li {
    margin: 0px!important;

}

.acomment-meta{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  line-height: 22.4px!important;
  color: #575756!important;
}
.acomment-meta a{
  color: #8b82e1!important;
}

.acomment-content p{
  margin-top: 10px !important;
    font-size: 16px!important;
}
.bp-primary-action{
  /*margin-left: -120px!important;*/
}

.buddypress-wrap .activity-comments .acomment-content {
    border-left: 0px!important;
    margin: 0px!important;
    padding: 0px!important;
}

.activity-inner p{
  padding-bottom: 10px!important;
}
.activity-update-form #whats-new-submit {
    margin: 0px!important;
}
.bp-list li {
      margin-bottom: 16px!important;
}
.activity-list.bp-list {
    background: inherit!important;
    border: inherit!important;
}
.comment-item ul{
  border-top: 1px dotted #cbc5fd!important;
}
.et_left_sidebar #sidebar {
    /*padding-right: 0px;*/
}

#sidebar {
  /*  float: inherit!important;*/
    /*width: 25%!important;*/
}

.bbp-logged-in img.avatar {
    float: left;
    margin: 0 15px 0 0;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px!important;

    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    border-radius: 50%!important;
    background-size: 100% auto!important;
}



.bbp-logged-in h4 {
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  line-height: 27px!important;
  color: #9b93e2!important;
  text-align: center;
  width: 100%;

}

.bbp-logged-in{
  margin-left: 30px;
}

.logout-link {
    color: #603e00!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: #ffc30f;
    padding-top: 6px!important;
    padding-right: 22px!important;
    padding-bottom: 6px!important;
    padding-left: 22px!important;
    margin-top: 15px!important;
    margin-bottom: 0px!important;
    margin-left: -10px!important;
    text-transform: uppercase;

}

.logout-link-editar {
    color: #603e00!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: #ffc30f;
    padding-top: 6px!important;
    padding-right: 22px!important;
    padding-bottom: 6px!important;
    padding-left: 22px!important;
    margin-left: 5px!important;

}

.entry-title{
  font-size: 26px;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  color: #9b93e2!important;
  margin-bottom: 5px!important;
  margin-top: 60px!important;
}
.groups-header .desc-wrap {
    background:inherit!important;
    border: inherit!important;
    margin: inherit!important;
    padding: inherit!important;
    text-align: center;
}

.groups-header .desc-wrap .group-description {
    background: #fafafa;
   box-shadow:inherit!important ;
    padding: 1em;
    text-align: left;
    margin-top: -15px;
}

.activity-list blockquote{
  background: #ffffff !important;
}

.et-search-form, .et_mobile_menu, .footer-widget li:before, .nav li ul, blockquote {
    border-color: #ffc7e7;
}
.list-title{
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 20px!important;
  line-height: 22.4px!important;
  color: #575756!important;
}

.buddypress-wrap .groups-list li .group-desc {
    margin: inherit!important;
    padding: inherit!important;
}

.list-wrap{
  background: #fff!important;;
  padding: 10px!important;
}

.buddypress-wrap .groups-list li .group-desc {
    border:inherit!important  ;
    margin-right: -16px !important;
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 20px!important;
    line-height: 22.4px!important;
}

.pag-data{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  color: #ababf1!important
}

.buddypress-wrap .bp-feedback.help .bp-icon, .buddypress-wrap .bp-feedback.info .bp-icon{
    background-color: #b969b2 !important;
}
.bp-feedback.bp-messages.info{
  background-color: !important;
}
.bp-feedback.bp-messages.info .bp-icon{
  background-color: #b969b2 !important;
}
.avatar-nav-item.current{
  border: none!important;
}
.buddypress-wrap .bp-feedback {
    background: #e84646;
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 18px!important;
    color: #ffffff!important;
    box-shadow: inherit!important;

}
.bp_msg_mi{
  /*border: 1px solid #ff7bde !important; */
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  float: left;
  margin-top: 15px;
  padding: 10px;
  margin-left: 25px;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  background: rgb(244, 242, 222)!important;
  margin-top: 30px!important;
}
.inhabilitado{
  color:#ff6321!important;
  cursor:default!important;
}

.error h4{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px;
  color:#ff0000;
  margin-top: -8px;
  /*
  color:#ff4c00!important;
  font-size: 14px!important;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  */


}
.post-51619 .entry-title{
  font-size: 40px!important;
  margin-left: 38px!important;
}
.linea_editar_perfil {
    border-top-color: #eab2dd !important;
    border-top-width: 6px !important;
    border-top-style: solid !important;
    width: 10%;
    max-width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-top: -10px;
    margin-bottom: 40px;
    margin-left: 38px!important;
}

#item-actions{
  display: none;
}
.wp-show-posts-comments-link{
  display: none;
}

#bbpress-forums h2{
  border-bottom-color: #ffc7e7 !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
  font-size: 16x!important;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  color:#ababf1!important;
  padding-bottom: 10px;
}

#bbp_topic_submit{
  color: #603e00!important;
border-width: 0px!important;
border-color: rgba(0,0,0,0);
border-radius: 25px;
font-size: 15px;
font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
background-color: #ffc30f;
padding-top: 6px!important;
padding-right: 27px!important;
padding-bottom: 6px!important;
padding-left: 27px!important;
margin-left: 5px!important;
}
.activity-update-form #whats-new-content {
      padding-top: 20px!important;
}
#whats-new-content{
  padding-top: 20px!important;
}
#buddypress #item-body {
    padding-top: 0px!important;
}
.buddypress-wrap .item-body{
  margin: 0px 0px!important;
}
#item-avatar{
  padding-left: 10px;
}
.widget-title{
  font-size: 16x!important;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  color:#ababf1!important;
}
#buddypress #item-body {
    padding-bottom: 0px!important;
}
.doctable{
  background: #ffffff;
}



/* estilos de comentarios */
.page_title{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 35px;
  color: #7f6ba5!important;

}

#commentform textarea {
  border-width: 1px;
  border-color: #ffd3f5;
  font-size: 18px;
  background-color: #ffffff;
}

#submit{
  color: #603e00!important;
    border-width: 0px!important;
    border-radius: 25px;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: #ffc30f;
}

.comment-body{
  border-bottom-color: #ffd3f5;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  padding-bottom: 50px !important;
}
.comment-reply-title{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 21px
}
span.fn, span.fn a {
    font-family: 'Calibri Bold',sans-serif!important;
    font-size: 18px!important;
    color: #565657!important;
    font-weight: inherit!important;
}
span.comment_date {
    color: #b5b5b5!important;
    font-family: 'Calibri',sans-serif;
    font-size: 13.5px;
}
.moderation{
  font-family: 'Calibri Italic',sans-serif;
    font-size: 13.5px;
    font-style: inherit!important;
    margin-right: -10px
}
.comment_area{
  margin-top: -15px;
}

.comment-content p{
  font-family: 'calibri',Helvetica,Arial,Lucida,sans-serif!important;
  line-height: 1.4em!important;
  font-size: 18px;
  color: #565657!important;

}
.comment_area .comment-reply-link {
    display: inherit!important;
    position: inherit!important;
    top: 7px;
    right: 0;
    /*margin-top: 10px!important;*/
}

.comment-reply-link {
    color: #ffc30f!important;
    border-width: 0px!important;
    border-color: #ffe30f;
    border-radius: 25px;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: rgba(0,0,0,0);
    text-transform: uppercase;
    padding-left: 0px!important;
}
#et-boc{
  /*background: #270054!important;*/
  background: #ffffff!important;
}

#comment-wrap{
  width: 100% !important;
  background: #ffffff !important;
}

.bp_comments{
  width: 100%;
  background: #ffffff;
  padding-left: 27%;
  padding-right:27%;
}

.reply-container{
  display: none!important;
}

#swpm_message{
  /*padding-bottom: 480px!important;*/
}
#swpm_message{

}


/* estilos para barra lateral categoria*/
#categories-4 .widgettitle{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 16px!important;
    letter-spacing: 0.5px!important;
    background-color: #ffbf00!important;
    border-left-color: #f7da9b!important;
}
#archives-3 .widgettitle{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    background-color: #f98900;
    border-left-color: #f7da9b;
}
/*
.et_pb_post .entry-title{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 21px!important;
  color: #000000!important;
}
*/
.et_pb_post .category-content-bp{
  color: #575756!important;
  font-family: 'calibri',Helvetica,Arial,Lucida,sans-serif!important;
  line-height: 1.7em!important;
  font-size: 14px;
}
.categorie article a{
  /*float: left!important;*/
}
.et_pb_post .entry-title {
  margin-top: 0px!important;
}
.categorie .et_pb_post .category-content-bp {
  margin-bottom: 25px!important;
}


/* estilos de menus*/
#main-header{
  background-image: linear-gradient(0deg,#501c77 0%,#7943a0 100%)!important;
}

#top-menu li::after {
    content: "|";
    float: right;
    color: #9b5aca;
    padding-left: 20px;
}
#top-menu li:last-child::after {
display: none;
}

#top-menu a {
    display: inherit!important;
}


.et_menu_container #et-top-navigation {
float: none;
position: relative;
margin-left: 50%;
padding-left: 0 !important;
}
.et_menu_container #top-menu-nav {
margin-left: -50%;
}

#top-menu-nav ul li a {
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
    color: #cab2e8!important;
    letter-spacing: 1px;
    transition: color 300ms ease 0ms;
}
#top-menu-nav ul li:hover a {
    color: #f9d800!important;
}
#top-menu .current-menu-item a::before, #top-menu .current_page_item a::before {
    display: none!important;
}
#top-menu li a:before {
  display: none!important;
}
#top-menu li a:before {
  display: none!important;
}

.menu_3_bp{
  display: block;
  position:  relative;
  width: 100%;
  max-width: 1920px;
margin-top: 20px;
}
.menu_imagen_1{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 500px;
}
.menu_imagen_2{
  padding-top: 20px;
  padding-left: 400px;
}
#top-header, #top-header a {
  font-family: 'Gotham Rounded Light',Helvetica,Arial,Lucida,sans-serif;
  color: #bd99e5;
  letter-spacing: 0.2px;
  transition: color 300ms ease 0ms;
  font-size: 14px;
  cursor: pointer;
}

#top-header a:hover {
  color: #ff9900!important;
}
#logo{
  display: none;
}
.et_header_style_left #et-top-navigation nav>ul>li>a, .et_header_style_split #et-top-navigation nav>ul>li>a {
    padding-bottom: 33px;
    padding-left: 11px;
    padding-right: 11px;
}
#top-menu-nav{
  margin-top: -5px;
  margin-bottom: 5px;
}

.et_header_style_left #et-top-navigation nav>ul>li>a, .et_header_style_split #et-top-navigation nav>ul>li>a {
    padding-bottom: 21px;
}

.et_pb_button:after, .et_pb_button:before {
    position: absolute;
    margin-top: 4px;
    margin-left: -1em;
    opacity: 0;
    text-shadow: none;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    line-height: 1em;
    text-transform: none;
    content: "\35";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
/*
#top-menu li::after {
    content: "|"!important;

    float: right!important;
    color: #9b5aca!important;
    padding-left: 20px!important;

}
*/
#et-top-navigation {
    font-weight: inherit!important;
}

.logged-in-as a:last-child{
  display: none !important;
}
.bp_titulo_2{
  padding-top: 15px!important;

}

#et-info-email:hover, #et-secondary-menu>ul>li>a:hover, #top-menu-nav>ul>li>a:hover, .et-social-icons a:hover {
    opacity: inherit!important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#top-menu li.current-menu-item>a{
  color: #f9d800!important;
}
.pm-group-view .pm-section .pm-section-content .pm-user-description-row .pm-card-label {
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 15px!important;
  color: #cab2e8!important;
  letter-spacing: 1px!important;
  transition: color 300ms ease 0ms;
}
.pm_collapsable_user_email{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 15px!important;
  color: #cab2e8!important;
}
.current-menu-item{
  color: #f9d800!important;
}

#sidebar {
    margin-top: 55px;
}
body #page-container .et_pb_section .et_pb_button_0:after {
  font-size: 1.6em;
    color: #ffffff;
    margin-top: 0px!important;
}
/* estilos de contact form 7*/
.et_pb_contact p{
  padding-bottom: inherit!important;
}
.contact_bp{
  padding-bottom: 10px!important;
}
.cat-item-59{
  display: none;
}
.cat-item-1{
  display: none;
}

/* Estilos de subtitulo eventos*/
.titulo_eventos{
  font-family: 'Gotham Rounded Bold',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  line-height: 33px!important;
  color: #9b93e2!important;
}

.linea_titulo_eventos{
	border-top-color: #ffd3d7;
  border-top-width: 1.5px;
	border-top-style: solid;
	width: 5%;
	margin-top: -5px;
	padding-bottom: 10px;
}
/* Estilos de articulos */
.et_pb_portfolio_item .et_pb_module_header a, .et_pb_portfolio_item h3 a, .et_pb_post .entry-title a, .et_pb_post h2 a {
    text-decoration: none;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 21px!important;
    color: #000000!important;
}
.et_pb_post .category-content-bp {
  color: #575756!important;
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  line-height: 1.7em!important;
  font-size: 18px!important;
}

#password-error{
  line-height: inherit !important;
}
/* estilos de reestrablecer contraseña */
.swpm_message{
  margin-top: -50px!important;
  margin-bottom: 10px!important;
}
.swpm-reset-pw-error{
  font-family: 'Gotham Rounded medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  color:#ffffff!important;
}
.swpm-reset-pw-error-email{
  font-family: 'Gotham Rounded medium',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  color:#ffffff!important;
}

/* estilos de formulario contacto*/
div.wpcf7-validation-errors {
    border: inherit !important;
    color: #ff0000 !important;
    font-size: 16px!important;
}
div.wpcf7-response-output {
    padding: inherit!important;

}
.wpcf7-response-output{
    margin-left: -2px!important;
}
span.wpcf7-not-valid-tip {
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 16px;
    color: #ff0000;
  /*
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
    */
}

#submit{
  text-transform: uppercase!important;
}
#et-secondary-nav li li a {
  padding: inherit!important;
  font-family: 'Gotham Rounded medium',Helvetica,Arial,Lucida,sans-serif!important;
  color: #ffffff!important;
  font-size: 13px!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  padding-left: 5px!important;
  padding-right: 17px!important;
}

#et-secondary-nav li li a:hover {
  color: #ffffff!important;
}
#et-secondary-nav li li {

    padding: inherit!important;
}

/* enlace de limite de tiempo */
.ina-dp-noflict-btn-container{
  float:right!important;
}

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body .ina-dp-noflict-btn-container .ina_stay_logged_in {
  color: #603e00!important;
  border-width: 0px!important;
  border-color: #ffffff!important;
  border-radius: 25px!important;
  letter-spacing: 1px!important;
  font-size: 15px!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #ffc30f!important;
  text-transform: uppercase!important;
}
.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-modal-header h3 {
  font-family: 'Gotham Rounded Bold',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 26px!important;
    border-bottom: inherit!important;
    color: #575756!important;
}
.ina-dp-noflict-modal .ina-dp-noflict-modal-content {
  background-image: linear-gradient(180deg,rgba(255,255,255,0.86) 0%,rgba(221,221,221,0.91) 100%)!important;
  background-color: rgba(0,0,0,0);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  /*
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    */
}
/* estilos para comentarios */
#commentform {
    padding-bottom: 0px;
}
.linea_coment{
  border-top-color: #eab2dd;
  border-top-width: 6px;
  border-style: solid;
  width: 18%;
  padding-bottom: 20px;
  margin-left: -90px;
}
.comment-respond{
  margin-left: -20px;
}
.page_title{
  margin-left: -90px;
}
.swpm-login-to-comment-msg{
  display: none;
}
.text_coment{
  font-size: 21px;
  color: #575756!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
}
.text_coment_1{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
}
.fs-search{
  display: none;
}
.fs-label-wrap {
    position: relative;
    background-color: #fff;
    border: inherit!important;
    cursor: default;
}
.fs-label-wrap {
  border-style: solid!important;
  border-color: #ffc30f!important;
  border-bottom-width: 2px!important;
  box-shadow: 0px 12px 18px -10px rgba(0,0,0,0.3) !important;
  padding: 10px 14px 10px 6px!important;
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 18px!important;
    color: #797979!important;
}
.fs-dropdown {
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  color: #797979!important;
}
.fs-option:hover {
    background:#ddd;
}
.fs-option, .fs-search, .fs-optgroup-label {
    padding: 6px 8px;
    border-bottom: inherit!important;
    cursor: default;
}

/* estilos para la red  */
#post-0 .entry-title{
  display: none!important;
}

.red_titulo{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 40px;
  color: #7f6ba5 !important;
  padding-top: 60px;
  padding-bottom: 18px;
}
.red_linea{
  border-top-color: #eab2dd !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  width: 15%;

  padding-bottom: 20px;
}
.user-nicename{
  /*display:none!important;*/
}

#post-mention{
  display:none!important;
}

#item-header-content .activity {
  margin-top: 35px;
  margin-left: -22px;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  color: #8b82e1!important;
}

#forums-personal-li{
  display: none!important;
}
#activity-mentions-personal-li{
  display: none!important;
}
#activity-mentions-personal-li{
  display: none!important;
}
#activity-friends-personal-li{
  display: none!important;
}
#activity-friends-personal-li{
  display: none!important;
}
#activity-groups-personal-li{
  display: none!important;
}

.single-headers {
  margin-bottom: inherit!important;
}
.bp-wrap{
  margin-top: -100px!important;
}

#bp-avatar-camera{
  display: none!important;
}

/*
.edit{
  display: none!important;
}
*/

/* estilos de compartir redes sociales */
/*
div .activa_fb { display:block; }
div .oculta_fb { display:none; }
div:hover .activa_fb { display:none; }
div:hover .oculta_fb { display:block; }
div .activa_tw { display:block; }
div .oculta_tw { display:none; }
div:hover .activa_tw { display:none; }
div:hover .oculta_tw { display:block; }
div .activa_in { display:block; }
div .oculta_in { display:none; }
div:hover .activa_in { display:none; }
div:hover .oculta_in { display:block; }
div .activa_wa { display:block; }
div .activa_wa { display:none; }
div:hover .activa_wa { display:none; }
div:hover .activa_wa { display:block; }
*/


/*
#post-51618 h1{
  display: none!important;
}
*/
/*
.comment-respond form p a a{
  display: none!important;
}
*/
/*
.et_right_sidebar #left-area {
    float: right!important;
    padding-right: 5.5%;
    padding-left: 65px!important;

}
*/
/*
.et_right_sidebar #left-area {
    float: right;
    padding-left: 5.5%;
  }
  */
/****************************/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .bp_content {
    width: 100%;
    padding-right: 6vw;
    padding-left: 6vw;
    /*background-color: lightcoral;*/
  }
  .swpm-login-submit {
    margin-top: 20px;
  }
  .bp_frm_login {
    margin-bottom: 10%;
  }
  /*
  .et_pb_contact_main_title {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  */
  .bp_msg {
  }

  /** MODULO RESTABLECER CONTRASEÑA **/


  .bp_content_rc {
    width: 100%;
    padding-right: 4vw;
    padding-left: 4vw;

  }

.wp-show-posts-comments-link{
  display: none;
}


.update-message{
  display: none;
}


  /*
    #main-content {
      padding-bottom: 45%;
    }

    .bt_titulo h1{
      padding-top: 15px;
      font-size: 16px;
    }
    .swpm_label {
      font-size: 14px;
    }
    body .bp_content_1 .bp_button{
      margin-top: 10px;
      font-size: 14px;
    }
  */
}


/*
@media (max-width: 980px)
.bp_content , .bp_content_1 {
    max-width: 1080px;
    width: 100%;
}


@media screen and (max-width: 400px) {
  html {
    background-color: lightblue;
  }
}

@media screen and (min-width: 400px) and (max-width: 980px) {
  .bp_content {
    width: 100%;
    padding-right: 6vw;
    padding-left: 6vw;

  }
}

@media screen and (min-width: 500px) {
  html {
    background-color: lightgreen;
  }
}
*/



/* TERMINA PROYECTO_BP*/

/*##### INICIO ######*/

.item-title{
  font-size: 18px!important;
  line-height: 20px!important;
  color: #575756!important;
}

.item-meta {
  font-size: 18px!important;
  line-height: 20px!important;
  color: #575756!important;
}

.object-nav ul li {
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 16px!important;
  color: #8b82e1!important;
}

.object-nav ul li .count{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 13.5px!important;
  color: #f55d93!important;
}

.subnav .bp-personal-sub-tab a{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 16px!important;
  color: #c29eca!important;
}

.subnav .bp-personal-sub-tab.current.selected a{
  color: #f55d93!important;
  background: none!important;
}

.activity-list.item-list.bp-list li div.activity-header p a{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  color: #f55d93!important;

}
.activity-list.item-list.bp-list li div.activity-header p,.activity-list.item-list.bp-list li div.activity-header a.view,.activity-list.item-list.bp-list li div.activity-header a span{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  color: #b0b0ad!important;
  margin-top: 10px!important;
}

#activity-favs-personal-li{
  display: none!important;
}


.generic-button .button.fav.bp-secondary-action.bp-tooltip{
  display: none!important;
}

.buddypress-wrap .activity-comments ul li{
  border-top: 2px dotted #cbc5fd;

}
#activity-stream ul li{
  padding: 0px!important;
}
#activity-stream ul li .activity-comments{
  margin: 0!important;
  margin-top: 14!important;
}
#activity-stream ul li .activity-comments ul li{
  padding-left: 100px!important;
  padding-bottom: 20px!important;
  padding-top: 20px!important;
  margin-bottom: 0px!important;
}

#activity-stream ul li .activity-comments ul li form.ac-form{
  padding: 15px 0 5px 133px!important;
  margin-left: -100px!important;
  margin-bottom: -15px!important;
  border-top: 2px dotted #cbc5fd!important;
}

#activity-stream ul li .activity-comments ul li form.ac-form .ac-reply-content input,
#activity-stream ul li .activity-comments ul li form.ac-form .ac-reply-content button{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 13px !important;
  line-height: 18px;
  background:#fcba2d !important;
  color:#ffffff !important;
  margin-top: 5px!important;
  margin-bottom: 0px!important;
}
#activity-stream ul li .activity-comments ul li form.ac-form .ac-textarea textarea{
  padding-right: 0px!important;
  background: #fff!important;
}
#activity-stream ul li .activity-comments ul li form.ac-form .ac-reply-content{
  text-align: right!important;
  padding-right: 9px!important;
}

.activity-comments ul li .acomment-meta{
  padding-left: 0px!important;
}
.item-body .profile.change-avatar .bp-avatar-status .warning,.bp-cover-image-status .warning{
  background: none!important;
  border:none!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 18px!important;
  line-height: 22px!important;
  color: #a990ed!important;

}
#activity-stream ul li .activity-content .activity-inner{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px !important;
  line-height: 22.4px !important;
  color: #575756 !important;
  background: none;
  border: none !important;
}
#activity-stream ul li .activity-content .-meta.action{
  border-top: dotted 2px #dad5d5 !important;
  margin-left: 2%!important;
  padding-left: 12%!important;
}
ul li div.activity-avatar.item-avatar{
  margin-left: 0!important;
}
ul li .activity-avatar.item-avatar a img.avatar{
  max-width: 80%!important;
}
ul li .activity-avatar.item-avatar a img{
  border-radius: 50%!important;
  margin-left: 24px!important;
  margin-right: 12px!important;
  margin-top: 12px!important;
}
.acomment-avatar.item-avatar img{
  border-radius: 50%!important;
}
.bp-list li{
  margin-bottom: 6px!important;
}

.buddypress-wrap .activity-list .load-more a{
  padding:4.5px 0!important;
}
#activity-stream ul li .activity-comments .-meta.action .generic-button a{
  background: #a990ed!important;
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px!important;
  color:#fff;
}

#activity-stream ul li .ac-reply-content input,#activity-stream ul li .ac-reply-content button{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 13px !important;
  line-height: 18px;
  background:#fcba2d !important;
  color:#ffffff !important;
}
.bbp-logged-in{
  padding-bottom: 27px!important;
}
#sidebar .widget-2.widget-even.widget-alt.et_pb_widget.widget_bp_groups_widget.buddypress.widget .widgettitle{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.odd.public.is-admin.group-has-avatar{
  padding-bottom: 16px!important;
  margin-bottom: 16px!important;
}
#sidebar .et_pb_widget{
  margin-bottom:16px!important;
}
#item-header-content .activity{
  margin-top: -15px!important;
}

.single-headers img.avatar{
  margin-bottom: 20px!important;
}
.bp-wrap .main-navs.no-ajax.bp-navs.single-screen-navs.horizontal.users-nav ul li{
  margin-left: 14px!important;
  margin-right: 14px!important;
  margin-bottom: 13px!important;
}
.activity-update-form #whats-new-content{
  margin-top: 18px!important;
  padding-top: 0px!important;
}
.bp-wrap .item-body nav.bp-navs.bp-subnavs.no-ajax.user-subnav{
  border:none!important;
  margin-bottom: 0px;
}

.bp-wrap .item-body div.activity-update-form{
  margin-top: 18px !important;
  margin-bottom: 11px!important;
}

.bp-wrap .item-body div.activity-update-form .bpfb_form_container .activity-form div .bpfb_actions_container{
  margin-top: 11px !important;
  margin-bottom: 0px!important;
}

.notifications-options-nav{
  display: none;
}
.notifications-filter-select{
  display: none;
}
.preview-thread-title{
  display: none;
}
.message-action-star{
  display: none;
}

.bpfb_actions_container.bpfb-theme-default.bpfb-alignment-left input[type=button]{
  background: #a990ed !important;
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 16px !important;
  color:#fff!important;
}
.bp-wrap .item-body.activity{
  padding-top: 0px!important;
  margin-top: 20px!important;
}


/*cambiar.color.iconos*/

#bpfb_addPhotos.bpfb_toolbarItem.bpfb_active{
  background: url(/wp-content/plugins/buddypress-activity-plus-master/img/system/film.png) left top no-repeat!important;
}
#bpfb_addVideos.bpfb_toolbarItem.bpfb_active{
  background: url(/wp-content/plugins/buddypress-activity-plus-master/img/system/film.png) left top no-repeat!important;
}
#bpfb_addLinks.bpfb_toolbarItem.bpfb_active{
  background: url(/wp-content/plugins/buddypress-activity-plus-master/img/system/film.png) left top no-repeat!important;
}

#activity-stream ul li .activity-content div{
  margin-right: 24px!important;
}
.profile.change-avatar .bp-feedback.info span,.profile.change-cover-image .bp-feedback.info span{
  background: #b969b2!important;
}
.profile.change-avatar .bp-feedback.info span,.profile.change-cover-image .bp-feedback.info span{
  background: #b969b2!important;
}

.profile.change-avatar p.bp-feedback.info,.profile.change-avatar p.bp-feedback.info .bp-help-text,
.profile.change-cover-image p.bp-feedback.info,.profile.change-cover-image p.bp-feedback.info .bp-help-text{
  background: #d1a9ca!important;
}

.profile.change-avatar p.bp-feedback.info .bp-help-text,
.profile.change-cover-image p.bp-feedback.info .bp-help-text{
  color: #fff!important;
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  line-height: 20px!important;
  font-style: inherit!important;
}
.profile.change-avatar p.bp-feedback.info .bp-help-text a,
.profile.change-cover-image p.bp-feedback.info .bp-help-text a{
  color: #fff10f!important;
}
.bp-avatar-nav ul li.avatar-nav-item .bp-avatar-nav-item{
  background: #cbc5fd!important;
  color:#fff!important;
  margin-right: 6px!important;
}

.bp-avatar-nav ul li.avatar-nav-item.current .bp-avatar-nav-item{
  background: #a990ed!important;
  color:#fff!important;
}
.profile.change-avatar .bp-avatar-nav{
  padding: 14px 24px!important;
  padding-bottom: 0px!important;
  margin-bottom: 0!important;
  margin-top: 0px!important;
}
.profile.change-avatar .bp-avatar-nav .avatar-nav-items{
  margin-bottom: 0!important;
}
.profile.change-avatar .bp-avatar{
  padding: 14px 24px!important;
  padding-top: 0px!important;
}


.bp-avatar .drag-drop-info{
  font-family: 'Calibri Regular',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 30px!important;
  line-height: 35px!important;
  color:#bebbd9!important;
  padding-bottom: 18px!important;
}
.ac-reply-avatar img.avatar{
  border-radius: 50%!important;
}
.bp-avatar .bp-uploader-window{
  background: #fafafa!important;
}
.profile.public{
  margin-top: 40px!important;
}
.profile.change-avatar,.profile.change-cover-image{
  background: #f9f9f9;
}
.screen-heading.change-avatar-screen,.screen-heading.change-cover-image-screen{
  background: #ece7f4;
  padding-bottom:30px!important;
  margin-bottom: 0px!important;
}
.bp-feedback.info,.info.bp-feedback{
  margin-top:0px!important;
  margin-bottom: 0px!important;
}
.drag-drop-inside{
  padding-top: 107px!important;
  padding-bottom: 86px!important;
}
.subnav-filters{
  list-style: none!important;
}
.profile.change-avatar .bp-avatar-nav .avatar-nav-items{
  border:none!important;
}
#item-body .bp-messages-content{
  background: #f9f9f9!important;
  padding: 12px 24px!important;
}
.uname-column a img{
  border-radius: 50%!important;
}
#group-members-list-table thead{
  background: #f9f9f9!important;
}
#group-members-list-table tbody{
  background: #fff!important;
}
.item-entry .list-wrap .item-avatar img{
  border-radius: 50%!important;
}

#members-list .item-entry{
  border-bottom: dotted 2px #dad5d5!important
}
.group_members.dir-list ul#members-list.item-list.members-group-list.bp-list{
  padding: 12px 24px!important;
}

/******************************** Estilos de boton INICIO ********************************/
/*btn amarillo*/
.button.avatar-crop-submit,.bp-cover-image-manage .button.edit,.profile.change-avatar .bp-avatar .button.edit,
.drag-drop-buttons input.button,#bp-messages-send,#bp-messages-reset,.item-body .standard-form input[type=submit],
#bp-delete-avatar
{
  color:#603e00 !important;
  border-width: 0px !important;
  border-radius: 25px!important;
  font-size: 15px!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  text-transform: uppercase!important;
  background-color:#ffc30f!important;
  padding: 6px 22px 6px 22px!important;
}
/*btn-morado*/
.friendship-button.is_friend.generic-button button,
.item-block .-meta.action li button,
.friendship-button.not_friends.generic-button button.friendship-button.not_friends.add,
.generic-button .send-message,
.friendship-button.pending_friend.requested,
.generic-button .group-button.leave-group.button,
.group-button.request-membership.button,
#groupbutton-11 button.group-button.pending.membership-requested.button,
#groupbutton-11 button.group-button.leave-group.button,
.comment-item .generic-button .acomment-reply.bp-primary-action,
.comment-item .generic-button .delete.acomment-delete.confirm.bp-secondary-action,
ul.friends-meta.action li .friendship-button.is_friend.remove,
.generic-button .button.accept, .generic-button .button.reject,
.group-button.pending.membership-requested.button,
.bp-secondary-action.spam-activity-comment.confirm{
  font-family: 'Calibri'!important;
  text-transform: uppercase!important;
  font-size: 13px!important;
  color:#fff!important;
  background-color:#a990ed!important;
  padding: 5px!important;
}
/******************************** Estilos de boton FIN ********************************/
a.bp-secondary-action.spam-activity-comment.confirm{
  display: none!important;
}
.generic-button a.bp-secondary-action.spam-activity-comment.confirm{
  display: block!important;
}
/*AlinearTextoDentroEtiqueta*/
.activity-list.item-list p{
  overflow-wrap:break-word;
}


#notifications-bulk-management table thead{
  background: #efefef!important;
}
.button.avatar-crop-submit,.bp-cover-image-manage .button.edit{
  margin-top: 17px!important;
  margin-left: 5px !important;
}

.bp-cover-image-manage div p{
  font-size: 18px!important;
  line-height: 22px!important;
  color:#575756!important;
  font-family: 'Calibri';
  margin-bottom: 39px!important;
  padding-top: 25px!important;
  border-top: dotted 2px #dad5d5;
  margin-left: 24px!important;
  margin-right: 24px!important;
}
.bp-cover-image-status p.warning{
  margin-bottom:16px!important;
  margin-top: 16px!important;
  padding-left: 24px!important;
  padding-right: 24px!important;
}
.bp-cover-image{
  padding-left: 24px!important;
  padding-right: 24px!important;
}
#bp-delete-avatar-container{
  background: #fff!important;
  border: dotted 2px #dad5d5;
  padding: 86px 45px!important;
  text-align: center;
  margin-bottom: 104px!important;
}
#bp-delete-avatar-container p{
  font: 'Calibri' 30px #bebbd9;
  line-height: 35px;
}
.members.friends ul.item-list.-list.bp-list{
  background: #fafafa!important;
}
.members.friends ul.item-list.-list.bp-list li.item-entry{
  margin:40px!important;
  border-bottom: dotted 2px #dad5d5!important
}
.members.friends ul.item-list.-list.bp-list li .list-wrap{
  background: none!important;
}
.members.friends ul.item-list.-list.bp-list li .list-wrap .item-block{
  border-right: solid 2px #dad5d5!important;
}
.members.friends ul.item-list.-list.bp-list li .item-avatar img{
  border-radius: 50%!important;
}
.profile.change-avatar .bp-avatar div.items{
  border: dotted 2px #dad5d5!important;
  background: #fff;
}

/************************ Estilos Caja Ini************************/
/*Caja:Blanca-Borde:morado */
#user_messages_search,#manage-members-search,#group_invites_search{
  background: #FFF!important;
  border: 1px solid #d1a9ca!important;
}

.ac-textarea .ac-input.bp-suggestions{
  background: #fff!important;
}
/************************ Estilos Caja Fin************************/

.groups.mygroups{
  background: #fafafa!important;
}
.groups.mygroups ul#groups-list{
  margin:0!important;
}
.groups.mygroups ul li{
  background: none!important;
  border-bottom: dotted 2px #dad5d5!important;
  margin:40px!important
}
.groups.mygroups ul li .list-wrap{
  background: none!important;
}
.groups.mygroups ul li .list-wrap .item-block{
  border-right: solid 2px #dad5d5!important;
}

.groups.mygroups ul li .list-wrap .item-avatar img{
  border-radius: 50%!important;
}
ul#groups-list{
  border:none!important;
}
#subsubnav ul{
  list-style: none!important;
}
#members-list{
  background: #fafafa!important;
}
#members-list .list-wrap{
  background: none!important;
}
#group-settings-form{
  background: #f9f9f9;
  padding: 10px 24px;
}
#group-settings-form .bp-avatar-nav{
  margin-bottom: 0!important;
}
#group-settings-form .bp-avatar-nav .avatar-nav-items{
  margin-bottom: 0!important;  
  border-bottom: 0!important;
}
#group-settings-form .warning{
  margin-bottom: 17px!important;
  background: none!important;
  border:none!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 18px!important;
  line-height: 22px!important;
  color: #a990ed!important;
}
#group-invites-container{
  background:#f9f9f9!important;
  padding: 12px 24px!important;
}
.subnav-filters.filters.clearfix ul,#bp-activity-ajax-loader{
  list-style: none!important;
}
/********************** Alertas INI **********************/
/*Morado*/
/*Fondo*/
.bp-feedback.info,.bp-feedback.loading,.bp-feedback.bp-messages.bp-template-notice.success,
#group-settings-form .bp-feedback.bp-messages.warning,.bp-feedback.help,.bp-feedback.error{
  background-color:#d1a9ca !important;
  color: #fff!important;
}
/*Icon*/
.bp-feedback.info span.bp-icon,.bp-feedback.loading span.bp-icon,
.bp-feedback.bp-messages.bp-template-notice.success span,
#group-settings-form .bp-feedback.bp-messages.warning span,
.bp-feedback.error span{
  background-color:#b969b2 !important;
}
/********************** Alertas FIN **********************/
/*####### FIN #######*/


.subnav .bp-personal-sub-tab.current.selected a {
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 15px;
}


#just-me-personal-li{
  display: none!important;
}


#notifications-my-notifications-personal-li{
  display: none!important;
}

#read-personal-li{
  display: none!important;
}

#notifications-filter-select{
  display: none!important;
}

@media (min-width: 981px)
.bp_perfil_titulo{
  margin-bottom: 2.75%;
}
.bp_perfil_content{
  padding-top: 2.5vw!important;
  padding-right: 3vw!important;
  padding-bottom: 3.5vw!important;
  padding-left: 3vw!important;
  padding-top: 2.5vw;
  padding-right: 3vw;
  padding-bottom: 3.5vw;
  padding-left: 3vw;
  width: 100%;
  max-width: 795px;
  position: relative;
  margin: auto;
  background-color: #f7f7f7;
  margin-top: -18px;
}

.bp_perfil_titulo{
  color: #7580c4!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  margin-bottom: 2.75%;
}
.bp_perfil_datos{
  margin-bottom: 2.75%;
  color: #575756!important;
  margin-left: 42px!important;
}

.bp_perfil_divider{
  height: 23px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.bp_perfil_linea{
  border-top-color: #eab2dd;
  border-top-style: dotted;
  border-top-width: 2px;
  width: auto;
  right: 0px;
  left: 0px;
  box-sizing: content-box;
}

.bp_perfil_text_1{
  padding-top: 28px!important;
}

.spam-activity{
  display: none!important;
}

.message-action-star{
  display: none!important;
}
.preview-message{
  display: none!important;
}
#starred-personal-li{
  display: none!important;
}
.thread-participants{
  display: none!important;
}
#groups-order-select{
  display: none!important;
}
#thread-preview{
  display: none!important;
}
